<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.flipflash.android_ffc"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="2"
          android:versionName="2.0.1">

    <supports-screens
        android:requiresSmallestWidthDp="510" />

    <uses-feature android:name="android.hardware.screen.portrait"/>

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.google.android.gallery3d.permission.GALLERY_PROVIDER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>


    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20"/>

    <application
        android:name="com.flipflash.util.AppContext"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@drawable/fcc_launcher"
        tools:replace="icon, label,android:allowBackup"
        android:label="@string/app_name"
        android:theme="@style/FCCTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.flipflash.android_ffc.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <data
                    android:scheme="fcc"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.flipflash.android_ffc.PlayActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name="com.flipflash.android_ffc.AboutActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.flipflash.android_ffc.SelectText2SpeechLanguageActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.flipflash.android_ffc.StorageOptionActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.flipflash.android_ffc.MultimediaFullscreenActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name="com.flipflash.android_ffc.MoreActivity"
                  android:screenOrientation="sensorLandscape"/>
        <activity android:name="com.flipflash.android_ffc.PlayOptionActivity"
                  android:screenOrientation="sensorLandscape"/>
        <activity android:name="com.flipflash.android_ffc.WebViewActivity"
                  android:screenOrientation="sensorLandscape"/>
        <activity android:name="com.flipflash.android_ffc.AppStart"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".CropActivity"
            android:screenOrientation="sensorLandscape"/>

        <activity
            android:name="vn.tungdx.mediapicker.activities.MediaPickerActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/MediaPickerTheme" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="@string/dropbox__app_key" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    

        <activity android:name="com.facebook.FacebookActivity"
                  android:screenOrientation="portrait"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />

        <service android:name="com.flipflash.util.OpenUDID_service">
            <intent-filter>
                <action android:name="org.openudid.GETUDID"/>
            </intent-filter>
        </service>
    </application>

</manifest>