
*.class

*.class

*.class

*.class

*.class

*.class

*.class

*.apk

*.class

*.class

*.apk

*.apk

*.apk

*.apk

*.apk

*.apk

.idea/workspace.xml

androidFlashCardCreator/build/intermediates/exploded-aar/android-crop-0.9.10/classes.jar

androidFlashCardCreator/build/intermediates/exploded-aar/android-crop-0.9.10/res/drawable-hdpi-v4/crop__ic_done.png
