<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.internectics.android_flashcardcreator"
          android:versionCode="1"
          android:versionName="1.0.0">

    <supports-screens
        android:requiresSmallestWidthDp="420" />

    <uses-feature android:name="android.hardware.screen.portrait"/>

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="com.google.android.gallery3d.permission.GALLERY_PROVIDER">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="18"/>

    <application
            android:name="com.internectics.util.AppContext"
            android:allowBackup="false"
            android:largeHeap="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <activity
                android:name="com.internectics.android_flashcardcreator.MainActivity"
                android:label="@string/app_name"
                android:windowSoftInputMode="adjustPan"
                android:configChanges="orientation"
                android:screenOrientation="sensorLandscape">
            <intent-filter>
                <data
                        android:scheme="fcc"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dropbox.client2.android.AuthActivity"
                android:configChanges="orientation|keyboard"
                android:launchMode="singleTask">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-rl7510fe1641dyl"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.internectics.android_flashcardcreator.PlayActivity"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.internectics.android_flashcardcreator.VideoViewActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".InstructionActivity"
                  android:screenOrientation="sensorLandscape"/>
        <activity android:name=".MoreActivity"/>
        <activity android:name=".WebViewActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".AppStart" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.LoginActivity"/>


        <service android:name="org.openudid.OpenUDID_service">
            <intent-filter>
                <action android:name="org.openudid.GETUDID"/>
            </intent-filter>
        </service>
    </application>

</manifest>